{% extends "base.html" %}

{% block title %}Inside categories{% endblock %}

{% block content %}

{% if notes %}
  <h1 class="main-title">Notes in Category: {{ notes.0.category.name }}</h1>
{% endif %}
    <div class="notes-list">
      {% for note in notes %}
        <div class="note">
            <p>Title:<br>{{note.title}}</p>
            <p>Note:<br>{{note.content}}</p>
            {% if note.image_filename %} 
              <img src="{{ url_for('uploaded_file', filename=note.image_filename) }}" alt="{{ note.title }}" style="max-width: 300px;"> 
            {% endif %} 
          <form method="get" action="{{ url_for('edit_note', note_id=note.id) }}">
              <button type="submit">Edit</button>
            </form>
          <form action="{{ url_for('delete_note', note_id=note.id) }}" method="post" class="inline-form">
            <button type="submit">Delete</button>
          </form>
      </div>
      {% endfor %}
    </div>
{% endblock %}