{% extends "base.html" %}

{% block title %}Note'rino{% endblock %}

{% block content %}
  <h1 class="main-title">Note'rino</h1>
  <div class="about">
    <p>Do you find yourself constantly forgetting important notes or struggling to organize them in one place? Note'rino is here to help!</p>
    <p>With Note'rino, you can easily log in, write, save, categorize, edit, and view all your notes in one convenient location. Whether you need to jot down a quick reminder, take notes during a meeting, or keep track of important information, Note'rino has got you covered.</p>
    <p>Gone are the days of frantically searching for scraps of paper with notes scribbled on them. With Note'rino, all your notes are safely stored in one place, accessible from any device with an internet connection.</p>
    <p>Plus, with our user-friendly interface, you can easily categorize your notes by topic, date, or any other custom category you choose. This makes it easy to find and reference your notes when you need them, without wasting precious time scrolling through a never-ending list of notes.</p>
    <p>Whether you're a student, professional, or just someone who loves to stay organized, Note'rino is the perfect tool for you. Say goodbye to cluttered notes and hello to streamlined productivity with Note'rino!</p>
  </div>
{% endblock %}